@media only screen and (max-device-width: 850px) {
    h1 {
        font-size: 7vw !important;
        display: flex;
        justify-content: center;
    }

    #countdown {
        font-size: 4.5vw !important;
    }

    .nav-link.active {
        font-size: 2.5vw !important;
    }

    #dropdownMenuButton.btn.btn-secondary.dropdown-toggle {
        font-size: 2.5vw !important;
        padding-left: 0;
        padding-right: 0;
    }

    .dropdown-item {
        font-size: 3vw !important;
    }

    .nav-item {
        display: flex !important;
        justify-content: space-between !important;
        width: 90vw !important;
    }

    img {
        height: 65% !important;
        width: 65% !important;
    }

    p {
        font-size: 4.5vw !important;
        text-align: -webkit-center;
    }

    .WeddingDetails {
        color: white;
        font-weight: bolder;
        font-size: 20vw;
        padding-top: .3vw;
        padding-bottom: none;
        display: flex;
        justify-content: center;
        width: 80vw;
        margin: auto;
    }

    .Info {
        display: flex;
        justify-content: space-between;
        width: 60vw !important;
    }

    .Date {
        display: flex;
        padding: none;
        margin-bottom: none;
    }
    
    .Date p {
        font-size: 4vw;
        color: seashell;
    }
    
    .Location {
        display: flex;
        flex-direction: column;
        padding: none;
        margin-bottom: none;
    }
    
    .Location p {
        font-size: 4vw;
        color: seashell;
    }

    .tline1, .tline2, .tline3 {
        width: 75vw !important;
    }

    .OurStory {
        width: 90vw !important;
        padding-top: 3vw;
        display: flex;
        flex-direction: column;
    }

    .OurStory h3 {
        display: flex;
        justify-content: center;
        color: slategray;
        margin-bottom: 2vw;
    }
    
    .Women {
        margin-left: 0 !important;
        display: flex;
        flex-direction: column;
        width: 50vw !important;
        font-size: 2vw;
    }
    
    .Men {
        margin-left: 3vw;
        display: flex;
        flex-direction: column;
        width: 50vw !important;
        font-size: 2vw;
        align-items: flex-end;
    }
    
    .Amy, .Kait, .Bekah, .Katie, .Aubrey, .Steph  {
        width: 25vw;
        padding-bottom: 1vw;
    }

    .Jared, .Cooper, .Gabe, .Seth, .Garrett, .Aaron {
        width: 25vw;
        text-align: right !important;
        padding-bottom: 1vw;
    }
 
    .WPcss {
        margin: auto;
        width: 65vw;
        display: flex;
        flex-direction: row;
        margin-right: 18vw !important;
    } 
    
    .WPcss h2.men{
        color: palevioletred;
        text-align: right;
        font-size: 5vw !important;
    }
    
    .WPcss h2.women{
        color: palevioletred;
        font-size: 5vw !important;
    }
    
    .WPcss h5 {
        color: seashell;
        width: 25vw;
        font-size: 3.5vw !important;
    }

    h2.flowergirls {
        color: palevioletred;
        font-size: 5vw !important;
    }
    
    .Flowergirls h5 {
        color: seashell;
        font-size: 3.5vw !important;
        width: 21vw;
        align-self: center;
    }

    .Flowergirls {
        width: 80vw !important;
    }

    .Flowergirls2 {
        width: 75vw !important;
        display: flex;
        justify-content: space-evenly;
    }

    .Kampbell .WP2, .Katy .WP2, .Vaeda .WP2 {
        border-radius: 50% !important;
        width: 20vw !important;
        height: 20vw !important;
        padding-bottom: .5vw !important;
        margin-right: 2vw;
    }

    .Rhys .WP2 {
        border-radius: 50% !important;
        width: 20vw !important;
        height: 20vw !important;
        padding-bottom: .5vw !important;
    }

    h2.ringbearer {
        color: palevioletred;
        font-size: 5vw !important;
    }

    .Rhys h5 {
        color: seashell;
        font-size: 3.5vw !important;
    }

    .WP {
        border-radius: 50% !important;
        width: 20vw !important;
        height: 20vw !important;
        padding-bottom: .5vw;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
    }
    
    label {
        color: rgb(120, 145, 153);
        width: 35vw !important;
        margin-left: auto !important;
        padding-left: 4.5vw !important;
    }
    
    button {
        width: 15vw !important;
    }
    
    textarea, input {
        width: 50vw !important;
    }

    .sendbutton {
        display: flex;
        justify-content: center;
        padding-top: 1.5vw !important;
    }

    #kidmessage {
        display: flex;
        justify-content: center;
        color: palevioletred;
        font-size: 3vw !important;
        width: 85vw !important;
        margin: auto;
        padding-bottom: 2vw;
        padding-top: 1.5vw;
        text-align: center;
    }

    button, optgroup, select {
        margin: auto !important;
    }

}

html, body {
  height: 100%;
  width: 100%;
  background: rgb(3, 74, 85);
  padding: none;
  margin: 0;
}

p {
    color: seashell;
}

.Jumbotron {
    display: flex;
    justify-content: center;
    width: 99vw;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: White;
    font-size: 60px;
}

#countdown {
    display: flex;
    justify-content: center;
    color: palevioletred;
    padding-top: .3vw;
    font-size: 20px;
}

.navbar.navbar-expand-md {
    background: transparent;
    padding-left: none;
    padding-right: none;
}

.navbar-nav {
    width: 99vw;
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin: auto;
    justify-content: space-between;
}

.Picture{
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
    height: 50%;
} 

.links {
    padding: .5%;
    display: flex;
    justify-content: center;
}

.nav-link.active {
    width: fit-content;
    color: White;
    font-size: 20px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.btn.btn-secondary.dropdown-toggle {
    background-color: transparent;
    border: none;
}
#dropdownMenuButton.btn.btn-secondary.dropdown-toggle {
    color: White;
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
}

.dropdown-menu.show {
    background-color: transparent;
    border: none;
}

.dropdown-item {
    color: White;
}

.dropdown-item:hover {
    background-color: transparent;
    color: palevioletred;
}

.WeddingDetails {
    color: white;
    font-weight: bolder;
    font-size: 20vw;
    padding-top: .3vw;
    padding-bottom: none;
    display: flex;
    justify-content: center;
}

.Info {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.Date {
    display: flex;
    padding: none;
    margin-bottom: none;
}

.Date p {
    font-size: 4vw;
    color: seashell;
}

.Location {
    display: flex;
    flex-direction: column;;
    padding: none;
    margin-bottom: none;
}

.Location p {
    font-size: 4vw;
    color: seashell;
}

.Timeline {
    color: seashell;
    font-weight: normal;
    font-size: 10vw;
    width: 99vw;
    display: flex;
    justify-content: center;
    border: none;
    margin: none;
    padding-top: 2vw;
}

.tline1 {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.tline1 p {
    font-size: 3vw;
}

.tline2 {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.tline2 p {
    font-size: 3vw;
}

.tline3 {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.tline3 p {
    font-size: 3vw;
}

.OurStory {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    margin: auto;
    padding-bottom: 5vw;
    padding-top: 3vw;
}

.OurStory h3 {
    display: flex;
    justify-content: center;
    color: palevioletred;
    margin-bottom: 2vw;
}

.OurStory p {
    font-size: 1.5vw;
    color: seashell
}

.WeddingParty {
    padding-top: 3vw;
    padding-bottom: 5vw;
    color: lightslategray;
}

.WPcss {
    margin: auto;
    width: 65vw;
    display: flex;
    flex-direction: row;
    margin-right: 24.5vw;
}

.WPcss h2.men{
    color: palevioletred;
    text-align: right;
}

.WPcss h2.women{
    color: palevioletred;
}

.WPcss h5 {
    color: seashell;
    width: 25vw;
}

.Women {
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    width: 45vw;
}

.Men {
    display: flex;
    flex-direction: column;
    width: 45vw;
}

.Amy, .Kait, .Bekah, .Katie, .Aubrey, .Steph {
    padding-bottom: 2vw;
    width: 25vw;
} 

.Jared, .Cooper, .Gabe, .Seth, .Garrett, .Aaron {
    width: 25vw;
    text-align: right;
    padding-bottom: 2vw;
}

.Flowergirls{
    width: 65vw;
    margin: auto;
}

.Flowergirls2 {
    display: flex;
    width: 50vw;
    margin: auto;
    text-align: center;
    align-items: center;
}

.Kampbell, .Katy, .Vaeda {
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2vw;
}

.Kampbell .WP2, .Katy .WP2, .Vaeda .WP2 {
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    padding-bottom: .5vw;
    align-self: center;
}

h2.flowergirls {
    color: palevioletred;
    display: flex;
    justify-content: center;
}

.Flowergirls h5 {
    color: seashell;
}

.RingBearer {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    text-align: center;
    align-items: center;
    padding-bottom: 2vw;
}

.Rhys .WP2 {
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    padding-bottom: .5vw;
    align-self: center;
}

h2.ringbearer {
    color: palevioletred;
}

.Rhys h5 {
    color: seashell;
}

.WP {
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    padding-bottom: .5vw;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: seashell;
    width: 20vw;
    margin: auto;
    padding-left: 7.25vw;
}

button {
    width: 10vw;
}

.sendbutton {
    display: flex;
    justify-content: center;
    padding-top: 1vw;
}

textarea, input {
    width: 20vw;
}

button, input, optgroup, select, textarea {
    margin: auto;
}

#my-form-status {
    display: flex;
    justify-content: center;
}

.knee {
    margin: auto;
}

#kidmessage {
    display: flex;
    justify-content: center;
    color: palevioletred;
    font-size: 1vw;
    width: 45vw;
    margin: auto;
    padding-bottom: 2vw;
    padding-top: 1.5vw;
    text-align: center;
}

.map {
    display: flex;
    justify-content: center;
    border: none;
    padding: none;
    margin-bottom: 5vw;
}
