@media only screen and (max-device-width: 550px) {
    .wrapper {
        width: 540px;
    }

    .header {
        background-image: url(media-queries-phone.jpg);
        height: 93px;
        position: relative;
    }

    h1 {
        font-size: 7vw !important;
        display: flex;
        justify-content: center;
    }

    #countdown {
        font-size: 4.5vw !important;
    }

    .nav-link.active {
        font-size: 2.5vw;
    }

    #dropdownMenuButton.btn.btn-secondary.dropdown-toggle {
        font-size: 2.5vw;
        padding-left: 0;
        padding-right: 0;
    }

    .nav-item {
        display: flex !important;
        justify-content: space-between !important;
        width: 90vw !important;
        /* margin-left: none;
        margin-right: none; */
    }

    p {
        font-size: 4.5vw !important;
    }

}

html, body {
  height: 100vh;
  width: 100vw;
  background: lightslategray;
  padding: none;
  margin: 0;
}

.wrapper {
  margin: auto;
}

.Jumbotron {
    display: flex;
    justify-content: center;
    width: 100vw;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: White;
    font-size: 60px;
    /* font-weight: normal;
    display: flex;
    justify-content: center; */
}

#countdown {
    display: flex;
    justify-content: center;
    color: black;
    padding-top: .3vw;
    font-size: 20px;
}

.navbar.navbar-expand-md {
    background: transparent;
    padding-left: none;
    padding-right: none;
}

.navbar-nav {
    width: 100vw;
}

.nav-item {
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin: auto;
    justify-content: space-evenly;
}

.Picture{
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
    height: 50%;
} 

.links {
    padding: .5%;
    display: flex;
    justify-content: center;
}

.nav-link.active {
    width: 10vw;
    color: White;
}

.btn.btn-secondary.dropdown-toggle {
    background-color: transparent;
    border: none;
}
#dropdownMenuButton.btn.btn-secondary.dropdown-toggle {
    color: White;
}

.dropdown-menu.show {
    background-color: transparent;
    border: none;
}

.dropdown-item {
    color: White;
}

.dropdown-item:hover {
    background-color: transparent;
    color: White;
}

.WeddingDetails {
    color: white;
    font-weight: bolder;
    font-size: 20vw;
    padding-top: .5%;
    padding-bottom: none;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.Info {
    display: flex;
    justify-content: center;

}

p {
    display: flex;
    margin: none;
    font-size: 40px;
}

.Date {
    display: flex;
    padding: none;
    margin-bottom: none;
}

.Location {
    display: flex;
    flex-direction: column;;
    padding: none;
    margin-bottom: none;
}
